<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/CSS/style.css"> </head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="/"><img class="icon" src="/images/home-run.png" alt="Alternate Text" /></a>
                </div>
                <nav class="nav">
                    <p class="nav__link">Быков Егор ИДБ-18-03</p><a class="nav__link" href="/About">О себе</a> <a class="nav__link" href="/Summary">Задания</a></nav>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="container__about">
            <div class="photo"><img class="image" id="img" src="/images/home-run.png" alt=""></div>
            <div class="description">
                <h2 class="description__tittle">Быков Егор ИДБ-18-03</h2>
                <div class="" style="padding-top: 10px">
                    <div class="description__tittle_few">
                        <p>Группа: </p>
                        <p>МГТУ СТАНКИН</p>
                    </div>
                    <div class="description__tittle_few">
                        <p>Пол: </p>
                        <p>Мужской</p>
                    </div>
                    <div class="description__tittle_few">
                        <p>Возраст: </p>
                        <p>20лет</p>
                    </div>
                    <div class="description__tittle_few">
                        <p>Курс: </p>
                        <p>3</p>
                    </div>
                    <div class="description__tittle_few">
                        <p>Специальность: </p>
                        <p>Программист</p>
                    </div>
                </div>
                <div class="description__about" id="about">С другой стороны рамки и место обучения кадров способствует подготовки и реализации модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. С другой стороны укрепление и развитие структуры обеспечивает участие в формировании систем массового участия. . Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых плановых заданий в значительной степени обуславливает создание модели развития. С другой стороны укрепление и развитие структуры обеспечивает участие в формировании систем массового участия. . Значимость этих проблем настолько очевплановых заданий в значительной степени обуславливает создание модели развития. С другой стороны укрепление и развитие структуры обеспечивает участие в формировании систем массового участия. . Значимость этих проблем настолько очев</div>
            </div>
        </div>
    </div>
    <script src="./JavaScript/Function.js"></script>
    <script src="./JavaScript/kek.js"></script>
</body>

</html>
